{% extends "baselayout.html.twig" %}

 {% block stylesheets %}
     <!-- Bootstrap -->
     {# <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> #}
     <link rel="stylesheet" href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">
     <!-- Optional theme -->
     {# <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> #}
     <link rel="stylesheet" href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css') }}">
     {# <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/darkly/bootstrap.min.css" rel="stylesheet"> #}
     <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
     <link href="{{ asset('css/frontstyles.css') }}" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     {% block custompage_style %}<style></style>{% endblock %}
 {% endblock %} {# stylesheets #}


{% block header %}
    <header>



         <nav class="navbar navbar-default">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-lg-4"
                 <div class="navbar-header">
                     <a class="navbar-brand" href="#">WebSiteName</a>
                 </div>


                 <ul class="nav navbar-nav">

                     <li><a href="{{ path('accueil') }}">Accueil</a></li>
                     <li><a href="{{ path('circuitlist') }}">Nos circuits</a></li>
                     <li><a href="{{ path('reservation') }}">Réservations</a></li>
                     <li><a href="{{ path('contact') }}">Contactez-nous</a></li>
                     <li id="AdminAccess"><a href="{{ path('accueiladmin')}}">Accès administrateur</a></li>

                 </ul>
                 </div>

             </div>
         </nav>

    </header>
{% endblock %}

{% block footer %}
    <footer>
        <p>Rejoignez-nous pour ne rien rater de nos voyages</p>
        <a href="https://www.facebook.com/Portal/"><img src="http://www.unpasdecote.asso.fr/stage/Facebook-Logo" alt="facebook_logo" style="width:50px"</a>
        <a href="https://twitter.com/steam_games"><img src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c8/Twitter_Bird.svg/738px-Twitter_Bird.svg.png" alt="twitter_logo" style="width:50px"</a>
    </footer>
{% endblock %}

