




{# templates/circuitsshow.html.twig #}



{% extends "FrontOffice/baselayoutfront.html.twig" %}


{% block title %}Détails du circuit {{ id }}{% endblock %}

{% block main %}

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">





		<h1 style="margin-left: 200px">{{ circuit.description }}</h1>
		<br>

		<img src="{{ circuit.urlImage }}" alt="image du circuit {{ id }}" style="width:700px;margin-left: auto; margin-right: auto">


		<p>En partant de la ville de {{ circuit.villeDepart }}, nous vous proposons un voyage en {{ circuit.paysDepart }} pour une durée de {{ circuit.dureeCircuit }} jours, aboutissant à {{ circuit.villeArrivee }}. </p>



		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-9">


			<h3>Étapes</h3>

				<ul>
				{% for etape in circuit.etapes %}
					{% if  etape.nombreJours ==1 %}
					<li>{{etape.numeroEtape}}. Visite de {{ etape.villeEtape }}, pendant {{ etape.nombreJours }} jour.</li>


					{% else %}
						<li>{{etape.numeroEtape}}. Visite de {{ etape.villeEtape }}, pendant {{ etape.nombreJours }} jours.</li>
						{% endif %}
				{% endfor %}

				</ul>

				<h3>Programmations</h3>

				<ul>
                    {%  for programmation in circuit.programmations %}
						<li>Départ le {{ programmation.dateDepart|date('d/m/Y')  }}, voyage pour {{ programmation.nombrePersonnes }} personnes. Prix : {{ programmation.prix }} €</li>
                    {% endfor %}

				</ul>
			</div>

		</div>

	</div>


</div>

{% endblock %}  {# main #}