{# templates/frontoffice/circuitshow.html.twig #}

{#
     Affichage d'un circuit dans le frontoffice
  #}

{% extends "frontoffice/baselayoutfront.html.twig" %}

{% block title %}{{ parent() }} - Details for circuit {{ id }}{% endblock %}

{% block main %}

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">

	{# <pre>{{ dump(circuit) }}</pre> #}
    
	<h1>{{ circuit.description }}</h1>
		<br>

		{% if circuit.urlImage is not empty %}
		<img src="{{ circuit.urlImage }}" alt="image du circuit {{ id }}" style="width:700px;margin-left: auto; margin-right: auto">
		{%endif%}
	
	<p>En partant de la ville de {{ circuit.villeDepart }}, nous vous proposons un voyage en {{ circuit.paysDepart }} pour une durée de {{ circuit.dureeCircuit }} jours, aboutissant à {{ circuit.villeArrivee }}. </p>

		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-9">

			{% if circuit.etapes is not empty %}
  			<h2>&Eacute;tapes de ce circuit</h2>
			<ul>
                {% for etape in circuit.etapes %}
                    {% if  etape.nombreJours ==1 %}
						<li>{{etape.numeroEtape}}. Visite de {{ etape.villeEtape }}, pendant {{ etape.nombreJours }} jour.</li>


                    {% else %}
						<li>{{etape.numeroEtape}}. Visite de {{ etape.villeEtape }}, pendant {{ etape.nombreJours }} jours.</li>
                    {% endif %}
                {% endfor %}

			</ul>
            </table>
        {% else %}
    		<p>Désolé : pas de données concernant les étapes de ce circuit pour l'instant.</p>
        {% endif %}
        
        {% if circuit.programmations is not empty %}
			<h3>Programmations</h3>

			<ul>
                {%  for programmation in circuit.programmations %}
					<li>Départ le {{ programmation.dateDepart|date('d/m/Y')  }}, voyage pour {{ programmation.nombrePersonnes }} personnes. Prix : {{ programmation.prix }} €</li>
                {% endfor %}

			</ul>
            {% else %}
    			<p>Désolé : pas encore de dates programmées pour ce circuit.</p>
            {% endif %}
			</div>

		</div>

	</div>


</div>
{% endblock %} {# main #}
