

{% extends "backoffice/baselayoutBack.html.twig" %}

{% block title %}
Accueil administrateur
{% endblock %}

{% block main %}








    <div class="container">
        <div class="row">
            <div>{{ block('sidenav') }}</div>

            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <h2 class="titre_accueil">Consulter</h2>
                <ul>
                    <li><a href="{{ path('admin_circuitlist') }}"> Les circuits</a></li>
                    <li><a href="{{ path('programmationlistadmin') }}">Les programmations</a></li>
                </ul>

            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <h2 class="titre_accueil">Modifier</h2>
                <ul>
                    <li><a href={{ path('modifcircuit') }}> Les circuits</a></li>
                    <li><a href={{ path('modifprogrammation') }}>Les programmations</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
