{# templates/programmationslist.html.twig #}

{% extends "BackOffice/baselayoutBack.html.twig" %}

{% block title %}{{ parent() }} - Liste des programmations{% endblock %}

{% block main %}



<div class="container">
    <div class="row">
        <div>{{ block('sidenav') }}</div>
        <div class="col-lg-1"></div>

        <div class="col-lg-8">


    <h1>Liste des programmations</h1>
    {% if programmationslist is not empty %}
        <p>Voici toutes les programmations de l'agence:</p>
        <ul>
            {# Loop through list and creeate the list of programmation items. #}
            {% for programmation in programmationslist %}
                <li>
                    {{ programmation.id }} {{ programmation.circuit.description }} le {{ programmation.dateDepart|date('d-m-Y')  }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Désolé, vous n'avez pas encore de programmations</p>
    {% endif %}

        </div>
    </div>
</div>
{% endblock %} {# body #}
